@import "partials/reset";

body {
	font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
	font-weight: 300;
	background: rgba(255,255,255,1);
	color: white;
	
	&.bgTransition {
		-moz-transition: background 10s ease-in-out;
		-webkit-transition: background 10s ease-in-out;
		-o-transition: background 10s ease-in-out;
		-ms-transition: background 10s ease-in-out;
		transition: background 10s ease-in-out;
	}
}

article {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	opacity: 1;
	transform: scale(1);
	background: #333;
	
	&.hide {
		opacity: 0;
		transform: scale(0.75);
	}
}

#workout-list {
	width: 100%;
	
	ul {
		list-style-type: none;
		
		li {
			display: block;
			width: 100%;
			float: left;
			clear: both;
			cursor: pointer;
			
			span {
				color: white;
				display: block;
				width: 80%;
				text-align: center;
				margin: 0 10%;
				padding: 20px 0;
				border-bottom: 1px solid #aaa;
			}
			
			&#add-workout-button {
				background: black;
				
				span {
					border-bottom: none;
				}
			}
		}
	}
}

#workout-screen {
	text-align: center;
	
	h2 {
		font-family: HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 250px;
		text-align: center;
		width: 100%;
		margin-top: 150px;
		margin-bottom: 30px;
		
		.colon {
			-moz-animation: blink normal 2s infinite ease-in-out;
			-webkit-animation: blink normal 2s infinite ease-in-out;
			-ms-animation: blink normal 2s infinite ease-in-out;
			animation: blink normal 2s infinite ease-in-out;
		}
	}
	
	h3 {
		font-family: HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 80px;
		text-align: center;
		letter-spacing: 0.05em;
		width: 100%;
		margin-top: -50px;
		margin-bottom: 10px;
	}
	
	h4 {
		font-family: HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 30px;
		text-align: center;
		letter-spacing: 0.05em;
		width: 100%;
		margin-top: 0;
		
		span {
			background: white;
			border-radius: 50px;
			padding: 0 10px;
			-moz-transition: color 10s ease-in-out;
			-webkit-transition: color 10s ease-in-out;
			-o-transition: color 10s ease-in-out;
			-ms-transition: color 10s ease-in-out;
			transition: color 10s ease-in-out;
		}
	}
	
	#workout-status-buttons {
		position: relative;
		width: 100px;
		height: 100px;
		margin: 20px auto 0;
		cursor: pointer;
		background: rgba(0,0,0,0.5);
		border-radius: 200px;
		-moz-transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		
		&:hover {
			background-color: rgba(0,0,0,1);
		}
		
		&.expand {
			width: 200px;
		}
		
		#workout-start-button {
			width: 100px;
			height: 100px;
			background: url(../images/start-arrow.svg) no-repeat 0 0;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -50px;
		}
		
		#workout-pause-button {
			width: 100px;
			height: 100px;
			background: url(../images/pause-icon.svg) no-repeat 0 0;
			border-radius: 200px;
			display: none;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		#workout-reset-button {
			width: 100px;
			height: 100px;
			background: url(../images/restart-arrow.svg) no-repeat 0 0;
			border-radius: 200px;
			display: none;
			position: absolute;
			top: 0;
			right: 0;
		}
		
		.show {
			display: block !important;
		}
		
		.hide {
			display: none !important;
		}
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}